<div class="actions-bar-container">
    <div class="action-button" *ngFor="let action of activeActions">
        <mat-icon class="icon">visibility</mat-icon>
    </div>
    <div :class="action-button" (click)="doIt()">Hi</div>
</div>

// Sunder AE Shuffle all Nemisis back into the deck
// LASH AE One player shuffles their card into the deck
// LASH Peek top, place on top or bottom
// XAXOS Peek top, place top
// XAXOS Rearrange Remaining Cards
// Crooked Mask One player shuffles their card into the deck