.actions-page {
    background: darkslategray;
    height: 90%;
    width: 40%;
    border-radius: 50px 0px 0px 50px;
    position: absolute;
    right: 0;
    top: 2em;
    transform: translateX(100%);
    overflow: visible;
    display: flex;
    flex-grow: 1;
    padding: 20px;
    transition: 0.3s transform ease;

    .actions-button {
        background: darkslategray;
        color: lightgray;
        box-shadow: none;
        position: absolute;
        display: flex;
        left: -24px;
        justify-content: center;
        align-self: center;
        transform: scale(2);
    }

    &.expand {
        transform: translateX(0%);
        transition: 0.3s transform ease;
    }

    .icon {
        transform: rotate(0deg);
        transition: 0.4s transform ease;

        &.spun {
            transform: rotate(-360deg);
            transition: 0.4s transform ease;
        }
    }
}
