<div [ngClass]="{ 'settings-page': true, 'push-left': !status }">
    <button
        (click)="toggle()"
        mat-fab
        class="settings-button"
        aria-label="Open or close settings."
    >
        <mat-icon [ngClass]="{ icon: true, spun: status }">settings</mat-icon>
    </button>
    <div class="settings-container">
        <div class="settings-wrapper">
            <div class="title-bar">Settings</div>
            <div class="main-row">
                <div class="player-bar">
                    <div class="player-icon-container">
                        <mat-icon class="player-icon">face</mat-icon>
                    </div>
                    <div
                        class="player-button"
                        *ngFor="let type of deckNames() | keyvalue"
                        (click)="setDeckType(type.key)"
                        [ngClass]="{
                            activated: deckType == type.key,
                            hidden: hidePlayers
                        }"
                    >
                        {{ type.value }}
                    </div>
                </div>
            </div>
            <div class="main-row">
                <div class="player-bar second-row">
                    <div class="player-icon-container">
                        <mat-icon class="player-icon">bug_report</mat-icon>
                    </div>

                    <div
                        class="player-button long-button"
                        *ngFor="let type of nemesisDeckNames() | keyvalue"
                        (click)="setNemesisDeckType(type.key)"
                        [ngClass]="{
                            activated: nemesisDeckType == type.key
                        }"
                    >
                        {{ type.value }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
