.draw-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 0;
    min-width: 40px;
    overflow: hidden;
    max-width: 300px;
    padding: 2%;

    .top-card {
        display: flex;
        width: 100%;
        height: 0;
        border: 2px solid gainsboro;
        border-radius: 2%;
        justify-content: center;
        align-items: center;
        padding: 75% 0%;
        background-image: url("../../../assets/images/CardBack1.jpg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        overflow: hidden;
        transition: 1.5s background-image ease;

        &.empty {
            background-image: url("../../../assets/images/CardBack2.jpg");
            transition: 1.5s background-image ease;
        }
    }

    .action-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: red;
        font-size: 500%;
        animation: none;
        transition: 1.5s color ease;

        &.empty {
            color: rgb(199, 192, 158);
            transition: 1.5s color ease;
            animation: 7s rotate linear infinite;
        }

        @media screen and (max-width: 900px) {
            font-size: 300%;
        }

        @media screen and (max-width: 700px) {
            font-size: 200%;
        }

        @media screen and (max-width: 500px) {
            font-size: 100%;
        }

        @media screen and (max-width: 300px) {
            font-size: 50%;
        }
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
}
