.top-bar {
    background: lightseagreen;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: lightgray;
    display: flex;
    line-height: 0.5em;
    padding: 10px;
    flex-grow: 1;
}
