<div class="main-component">
    <div class="history">
        <app-history-bubble class="bubble" *ngFor="let item of history" [typeId]="item"></app-history-bubble>
    </div>

    <div class="table">
        <div class="play-space">
            <div class="card-container">
                <app-draw-deck class="draw-deck"></app-draw-deck>
            </div>
            <div class="card-container" *ngFor="let card of discardPile">
                <app-card [card]="card" actionType=""></app-card>
            </div>
            <div class="card-container" *ngFor="let card of peekPile">
                <app-card [card]="card" [actionType]="actionType"></app-card>
            </div>
        </div>
    </div>

    <div class="actions">
        <app-actions-bar></app-actions-bar>
    </div>

    <!-- <app-actions-menu></app-actions-menu> -->
    <app-settings></app-settings>
</div>