<div class="main-component">
    <div class="history">
        <app-history-bubble class="bubble" *ngFor="let item of history" [typeId]="item"></app-history-bubble>
    </div>

    <div class="table">
        <div class="draw">
            <app-draw-deck class="big"></app-draw-deck>
        </div>
        <div class="play-space">
            <app-card *ngFor="let card of discardPile" [card]="card" class="card-container"></app-card>
        </div>
    </div>

    <div class="actions"></div>

    <app-actions></app-actions>
    <app-settings></app-settings>
</div>